@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');
/* 
TABLE OF CONTENTS
1. General Styles
2. Header and Navigation
3. Hero
4. Section 1: Carousel
*/
/* 1. General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, .link-btn {
    font-family: 'Abril Fatface', cursive;
}
p, a, li, blockquote, h4, h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contain {
    width: 85vw;
    max-width: 1200px;
    margin: 0 auto;
}
.link-btn, .link-btn:visited {
    display: block;
    border: 4px solid #f2f2f2;
    color: #f2f2f2;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    transition: all .6s;
}
.link-btn:hover {
    background-color: #f2f2f2;
    color: #ff9900;
}
.link-btn.alt, .link-btn.alt:visited {
    border-color: #ff9900;
    color: #ff9900;
}
.link-btn.alt:hover {
    background-color: #ff9900;
    color: #f2f2f2;
}
/* 2. Header and Navigaion */
header {
    background: linear-gradient(180deg, #14202D 0%, rgba(20, 32, 45, .5) 100%), url(../images/strawberry-cake.jpg), lightgrey 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
nav {
    padding: 25px 0px;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.nav-links {
    display: none;
}
nav ul #logo {
    width: 50%;
}
nav ul #logo a svg {
    width: 100%;
}
nav ul #mob-menu {
    cursor: pointer;
}
nav ul li svg path {
    transition: fill .5s ease-in-out;
}
nav ul li:hover svg path {
    fill: #ff9900;
}
nav ul #mob-menu:hover .nav-links {
    position: absolute;
    top: 55px;
    padding: 1rem 1.25rem; 
    background: rgba(13, 13, 13, 0.75);
    backdrop-filter: blur(4px);
    display: flex;
    flex-flow: column wrap;
    gap: 1.125rem;
}
nav ul #mob-menu .nav-links li a {
    color: white;
    text-decoration: none;
    transition: color .5s ease-in-out;
}
nav ul #mob-menu .nav-links li a:hover {
    color: #ff9900;
}

/* 3. Hero */
#hero-content {
    color: #f2f2f2;
    margin-top: 3rem;
}
#hero-content h1 {
    font-size: 3.5rem;
    margin: .125rem 0px 1rem;
    font-weight: 400;
}
#hero-content .link-btn {
    font-size: 1.5rem;
}
#hero-content p {
    font-style: italic;
}

/* 4. Section 1: Carousel */
main .carousel-container {
    display: flex;
    flex-flow: column wrap;
    gap: 1.5rem;
    margin: 1.5rem auto;
}
.carousel-container h2 {
    text-align: center;
    font-size: 2.5rem;
}
.carousel {
    display: flex;
    gap: 25px;
    overflow-x: scroll;
    width: 100%;
    scrollbar-color: #141414 #c5c5c5; 
    scrollbar-width: thin;
}
/* width */
.carousel::-webkit-scrollbar {
    width: 5px;
}
/* Track */
.carousel::-webkit-scrollbar-track {
    background: #c5c5c5;
    border: 5px solid white;
}
/* Handle */
.carousel::-webkit-scrollbar-thumb {
    background: #14202D;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff9900;
}

.carousel .carousel-item {
    display: block;
    color: #131313;
    text-decoration: none;
    min-width: 100%; /* Change this in the media query*/
    max-width: 500px;
    padding-bottom: 1.25rem;
}

.carousel-item img {
    display: block;
    height: 325px;
    transition: all .5s;
}
.carousel-item h3 {
    margin: 1rem 0 .5rem;
    transition: all .5s;
}

.carousel-item:hover h3 {
    color: #ff9900;
}
.carousel-item:hover img {
    filter: saturate(200%);
}